# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Home Assistant
config/
custom_components/anm/__pycache__/
custom_components/anm/*.pyc
home-assistant.log
home-assistant_v2.db

# OS
.DS_Store
Thumbs.db


# Ruff
.ruff_cache

# Pytest
.pytest_cache/
htmlcov/