name: Tests

on:
  # Trigger only on PR open to main or dev branches
  pull_request:
    branches:
      - main
      - dev
  # Or run manually
  workflow_dispatch:


jobs:
  test:
    name: Test on Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13.2"]
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
          fetch-depth: 2
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install UV
      run: |
        curl -LsSf https://astral.sh/uv/install.sh | sh
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    
    - name: Create UV virtual environment
      run: |
        uv venv
    
    - name: UV Sync dependencies
      run: |
        uv sync
    
    - name: Run tests with coverage
      run: |
        uv run make test-ci
      continue-on-error: true
    
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      if: ${{ !cancelled() && !failure() && matrix.python-version == '3.13.2' }}
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        report_type: coverage
        files: ./coverage.xml
        fail_ci_if_error: false
    - name: Upload test results to Codecov
      if: ${{ !cancelled() && !failure() && matrix.python-version == '3.13.2' }}
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        report_type: test_results
        files: ./junit.xml
        fail_ci_if_error: false
